<% include ./partials/header %>

<div class="center aligned row ui main raised very padded text container segment">
    <h1 class="header huge">This is the home page</h1>

    <a class="ui floating button blue" href="/index">View All Posts</a>
</div>



<% include ./partials/footer %>