<a href="/new">Add New Post</a>

<% stories.forEach((story) => { %>


  <div>
    <%= story.title %>
  </div>
  <div>
    <img src="<%= story.image %>" alt="">
  </div>
  <div>
    <%= story.body %>
  </div>



  <% }) %>