<% include ./partials/header %>

<a href="/story/new">Add New Post</a>

<% stories.forEach((story) => { %>


  <div>
    <h2><%= story.title %></h2>
    <p><%= story.created %></p>
  </div>
  <div>
    <img src="<%= story.image %>" alt="">
  </div>
  <div>
    <%= story.body %>
  </div>



  <% }) %>
  
  <% include ./partials/footer %>