<%- include('partials/header') %>

  <h1>This is the campgrounds page</h1>

  <% campgrounds.forEach((campground) => { %>

    <div class="container">
      <h4 class="text-center">
        <%= campground.name %>
      </h4>
      <img class="img-fluid d-flex m-auto" src="<%= campground.image %>" alt="">
    </div>

    <% }) %>

      <%- include('partials/footer') %>